p {
  color: green;
  width:500px;
  border: 1px solid gray;
}

ul {
  color: purple;
}
h1 {
  color: orange;
  font font-family: "Agency FB", Times, serif;
}

html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}