p, li {
  color: green;
  width:500px;
  border: 1px solid gray;
  font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
}

ul {
  color: purple;
}
h1 {
  color: orange;
  font-size: 60px;
    text-align: center;
}

html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}
html {
  background-color: #00539F;
}